.img-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 2080px;
    margin: auto;
}

.img-box{
    display: inline-block;
    margin:5px;
    width: 250px;
    height: 250px;
}

.img-box img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

body {
    background-color: black;
    text-align: center;
}