.img-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.img-box{
    display: inline-block;
    margin:10px;
}

.img-box img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}