.img-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 2080px;
    height: 1300px;
    margin: 110px -70px;
    text-align: center;
}

.img-box{
    display: inline-block;
    margin:5px;
    width: 250px;
    height: 250px;
}

.img-box img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

body {
    background-color: black;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.img-box {
    animation: r7 1s linear infinite;
  }
   
  @keyframes r7 {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }