.img-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 2080px;
    height: 1300px;
    margin: 0 -70px 110px -70px;
    text-align: center;
}

.img-box{
    display: inline-block;
    margin:5px;
    width: 250px;
    height: 250px;
    opacity: 0;
    /*cursor :pointer;*/
    position: relative;
}

.img-box img{
    animation: anim-out 1.5s ease-out forwards;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.img-box img:hover {
    animation: anim 1.5s ease-out forwards;
}

/*
.img-info p {
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    font-weight: bold;
}

.img-info img:active + .img-info p{
    color: white;
    opacity: .8;
    z-index: 10;
}
*/
@keyframes anim {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
@keyframes anim-out {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

body {
    background-color: black;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Noto Sans JP";
}



/** ボタン **/
.img-box label {
    display: inline-block;
    color: #332c10;                   /* ボタンの文字色 */
            /* ボタンの背景色 */
    font-weight: bold;                /* 文字の太さ */
    cursor: pointer;
    margin: 0;               /* ボタンにカーソルを合わせた時に指アイコンを表示 */
    position: relative;
}
/** ボタンクリック時のボタンを押し込む動作 **/
.img-box label:active {
    border-bottom: none;
}
/** チェックボックス **/
.img-box input {
    display: none; /* 非表示 */
}
/** 表示・非表示を切り替えるテキスト（「クリックされました！」の部分） **/
.img-box .hidden-text img{
    display: block;
}

.img-box .hidden-text {
    position: absolute;
    top: 0;
    color: white;    /* 文字色 */
    font-weight: bold; /* 文字の太さ */
    overflow: hidden;
    opacity: 0;        /* 文字を非表示 */
    transition: 0.2s;  /* 文字が表示・非表示される時のスピード */
    z-index: 10;
    background-color: black;
    height: auto;
}

/** チェックボックスにチェックが入った時の、テキストの処理 **/
.img-box input:checked ~ .hidden-text {
    height: auto;
    opacity: 1; /* 文字を表示 */
}





.img-box:nth-child(1), .img-box:nth-child(9), .img-box:nth-child(17), .img-box:nth-child(25), .img-box:nth-child(33) {
    animation: img-rotetation 0.5s ease 0.2s 1 forwards, img-opacity 0.5s ease 0.2s 1 forwards;
}
.img-box:nth-child(2), .img-box:nth-child(10), .img-box:nth-child(18), .img-box:nth-child(26), .img-box:nth-child(34) {
    animation: img-rotetation 0.5s ease 0.4s 1 forwards, img-opacity 0.5s ease 0.4s 1 forwards;
}
.img-box:nth-child(3), .img-box:nth-child(11), .img-box:nth-child(19), .img-box:nth-child(27), .img-box:nth-child(35) {
    animation: img-rotetation 0.5s ease 0.6s 1 forwards, img-opacity 0.5s ease 0.6s 1 forwards;
}
.img-box:nth-child(4), .img-box:nth-child(12), .img-box:nth-child(20), .img-box:nth-child(28), .img-box:nth-child(36) {
    animation: img-rotetation 0.5s ease 0.8s 1 forwards, img-opacity 0.5s ease 0.8s 1 forwards;
}
.img-box:nth-child(5), .img-box:nth-child(13), .img-box:nth-child(21), .img-box:nth-child(29), .img-box:nth-child(37) {
    animation: img-rotetation 0.5s ease 1.0s 1 forwards, img-opacity 0.5s ease 1.0s 1 forwards;
}
.img-box:nth-child(6), .img-box:nth-child(14), .img-box:nth-child(22), .img-box:nth-child(30), .img-box:nth-child(38) {
    animation: img-rotetation 0.5s ease 1.2s 1 forwards, img-opacity 0.5s ease 1.2s 1 forwards;
}
.img-box:nth-child(7), .img-box:nth-child(15), .img-box:nth-child(23), .img-box:nth-child(31), .img-box:nth-child(39) {
    animation: img-rotetation 0.5s ease 1.4s 1 forwards, img-opacity 0.5s ease 1.4s 1 forwards;
}
.img-box:nth-child(8), .img-box:nth-child(16), .img-box:nth-child(24), .img-box:nth-child(32), .img-box:nth-child(40) {
    animation: img-rotetation 0.5s ease 1.6s 1 forwards, img-opacity 0.5s ease 1.6s 1 forwards;
}

@keyframes img-rotetation {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes img-opacity {
    100%{ opacity: 1; }
}

/* あとでけす */
/** ボタン **/
.disp-box label {
    display: inline-block;
    color: #332c10;                   /* ボタンの文字色 */
    background-color: #ffdb4f;        /* ボタンの背景色 */
    font-weight: bold;                /* 文字の太さ */
    padding: 0.5em 1em;               /* ボタン内側の余白 */
    border-bottom: solid 4px #ccb03f; /* ボタンの影部分 */
    border-radius: 3px;               /* 角丸 */
    cursor: pointer;                  /* ボタンにカーソルを合わせた時に指アイコンを表示 */
}
/** ボタンクリック時のボタンを押し込む動作 **/
.disp-box label:active {
    -webkit-transform: translateY(4px); /* Chrome、Safari用 */
    -moz-transform: translateY(4px);    /* Firefox用 */
    -ms-transform: translateY(4px);     /* IE用 */
    transform: translateY(4px);
    border-bottom: none;
}
/** チェックボックス **/
.disp-box input {
    display: none; /* 非表示 */
}
/** 表示・非表示を切り替えるテキスト（「クリックされました！」の部分） **/
.disp-box .text {
    color: #C9171E;    /* 文字色 */
    font-weight: bold; /* 文字の太さ */
    overflow: hidden;
    opacity: 0;        /* 文字を非表示 */
    transition: 0.2s;  /* 文字が表示・非表示される時のスピード */
}
/** チェックボックスにチェックが入った時の、テキストの処理 **/
.disp-box input:checked ~ .text {
    height: auto;
    opacity: 1; /* 文字を表示 */
}
